div#about {margin-top: 3em;}
.major-section {margin-left: 2em; padding: 1em;}
.publication {font-weight: bold;}

.spaced-list {list-style: none;}
.spaced-list li {padding: .6em;}

div#links {margin-top: 3em;}