<html>
	<head><title><%= yield :title %></title>
		<link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print" /> 
		<!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
		
		</head>
	
	<body>
		<div id="container" class="container">
			<%= yield %>
		</div>
	</body>
</html>